<div class="mx-6 pt-6">
  <ul class="flex justify-center">
    <li class="mx-6">
      <a class="font-serif text-2xl text-reddish-6 hover:text-reddish-5" href="/"> manihands </a>
    </li>
    <li class="mx-6 pt-2">
      <a class="text-reddish-6 hover:text-reddish-5" href="/about/"> about </a>
    </li>
    <li class="mx-6 pt-2">
      <a class="text-reddish-6 hover:text-reddish-5" href="/favorites/"> favorites </a>
    </li>
    <li class="mx-6 pt-2">
      <a class="text-reddish-6 hover:text-reddish-5" href="/projects/"> projects </a>
    </li>
    <li class="mx-6 pt-2">
      <a class="text-reddish-6 hover:text-reddish-5" href="/massage/"> massage </a>
    </li>
    <li class="mx-6 pt-2">
      <a class="text-reddish-6 hover:text-reddish-5" href="/contact/"> contact </a>
    </li>
  </ul>
</div>
